alpaca-py==0.35.0
annotated-types==0.7.0
APScheduler==3.11.0
bayesian-optimization==2.0.3
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
dill==0.3.9
docplex==2.29.241
fastdtw==0.3.4
fonttools==4.55.3
frozendict==2.4.6
html5lib==1.1
idna==3.10
inflection==0.5.1
joblib==1.4.2
kiwisolver==1.4.8
lxml==5.3.0
matplotlib==3.10.0
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
multitasking==0.0.11
Nasdaq-Data-Link==1.0.4
networkx==3.4.2
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pbr==6.1.0
peewee==3.17.8
pillow==11.1.0
platformdirs==4.3.6
psutil==6.1.1
pydantic==2.10.4
pydantic_core==2.27.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
qiskit==1.3.2
qiskit-aer==0.16.0
qiskit-algorithms==0.3.1
qiskit-finance==0.4.1
qiskit-optimization==0.6.1
requests==2.32.3
rustworkx==0.16.0
scikit-learn==1.6.0
scipy==1.15.0
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
sseclient-py==1.8.0
stevedore==5.4.0
symengine==0.13.0
sympy==1.13.3
ta-lib==0.6.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.3.0
webencodings==0.5.1
websockets==14.1
yfinance==0.2.52
